@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

body {
    font-family: 'VT323', monospace;
    background-color: black;
    color: RGB(0, 255, 0); /* Terminal Green */
    letter-spacing: 1.5px; /* Add spacing between characters for hacker feel */
}

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid green;
    animation:
        typing 3.5s steps(40, end) infinite,
        blink 0.75s step-end infinite;
    color: #ebe5e5;
    width: 0;
    max-width: fit-content;

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: green }
}